


.header {
text-align: center;

}

.hero-image {

  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


/* Centered text */
.text-block {
  position: absolute;
  font-size: 37px;
  line-height: 20px;
  color: #1f2242;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);

}

/* Add a blue background color to the top navigation */
.topnav {
  background-color: #1f2242;
  overflow: hidden;


}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color:#1f2242;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #15a1aa;
  color: white;
}

.row {
  display: flex;
  background:#1f2242;
}

.column {
  flex: 33.33%;
  padding: 15px;
  
}



.footerlogo{
text-align: center;
background: #15a1aa;
}

.email{
color: white;
text-align: center;
background: #15a1aa;
margin: 30px;
