

  /* This is the hero image */
.jumbotron {

	text-align: center;
	background-image: url("../images/marie-mae-header.jpg") ;
    background-size: cover;
    height: 800px;

}

  /* Title Call to Action */
.lead{
	color:white;
	font-size:2em;

}



  /* Line Divider */
.divider{
width: 45%;

}

  /* About Us */
.card-body{
text-align: center;
margin-left: 25%;
margin-right: 25%;
}

.card-title{

	font-size: 3em;
	font-family: 'Libre Baskerville', serif;


}
  /* Content Area*/
.container{
    text-align: center;

    }
.divider{
	padding-top:5%;
}
h5 {
	text-align: center;

}


#slides {
    position: relative;
    height: 200px;
    padding: 0px;
	text-align: center;
	font-size: 23px;
	line-height: 25px;
	font-weight: 300;

	list-style-type: none;

}
  /* Testimonial Slide */
.slide {
    position: absolute;
    margin-bottom: 5%;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.page-section {
    margin-top: 8%;

}

